@model AccesPoint.Models.User
@{
    ViewData["Title"] = "All Users";
}

<div class="card">
    <h1>Create user</h1>

    <form asp-controller="User" asp-action="CreateMember" method="post">
        <input type="text" name="userName" value="@Model.userName" placeholder="userName">
        <input type="text" name="userLogin" value="@Model.userLogin" placeholder="userLogin">
        <input type="text" name="userPassword" value="@Model.userPassword" placeholder="userPassword">
        <select>
            <option value="@Model.userDisabled" selected>false</option>
            <option value="@Model.userDisabled">true</option>
        </select>

        <button type="submit">Create</button>
    </form>
</div>