@model AccesPoint.Models.User
@{
    ViewData["Title"] = "User Details";
}

<div class="card">
    <div class="card-header">
        User @Model.Id Details
    </div>
    <div class="card-content">
        <div class="card-content-left">
            <p><strong>User Name:</strong> @Model.userName</p>
            <p><strong>User Login:</strong> @Model.userLogin</p>
            <p><strong>Kind:</strong> @Model.kind</p>
            <p><strong>Status:</strong> @(Model.userDisabled ? "Disabled" : "Enabled")</p>
        </div>
        <div class="card-content-right">
            <img src="@Url.Action("Avatar", "User", new { id = Model.Id, t = DateTime.Now.Ticks })" 
                alt="User Avatar" />
        </div>
    </div>
    <div class="card-actions">
        <a class="button primary" asp-controller="User"asp-action="Index">Return to home page</a>
        <a asp-controller="User" asp-action="EditUser" asp-route-id="@Model.Id" class="button success">Edit User</a>
    </div>
</div>