@model AccesPoint.Models.User
@{
    ViewData["Title"] = "Edit User";
}

<form asp-controller="User" asp-action="UpdateMember" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Editing user @Model.Id
        </div>
        <div class="card-content">
            <div class="card-content-left">
                <input type="hidden" name="Id" value="@Model.Id"/>
            
                <div>
                    <label for="userName">User Name:</label>
                    <input type="text" class="input" id="userName" name="userName" value="@Model.userName" placeholder="Enter user name" required>
                </div>
                
                <div>
                    <label for="userLogin">User Login:</label>
                    <input type="text" class="input" id="userLogin" name="userLogin" value="@Model.userLogin" placeholder="Enter login" required>
                </div>
                
                <div>
                    <label for="userPassword">User Password:</label>
                    <input type="text" class="input" id="userPassword" name="userPassword" value="@Model.userPassword" placeholder="Enter password" required>
                </div>
                
                <div>
                    <label for="kind">Kind:</label>
                    <input type="number" class="input" id="kind" name="kind" value="@Model.kind" placeholder="Enter kind">
                </div>
                
                <div>
                    <label for="userDisabled">User Status:</label>
                    <select name="userDisabled" id="userDisabled" class="input">
                        <option value="true" selected="@Model.userDisabled">Disabled</option>
                        <option value="false" selected="@(!Model.userDisabled)">Enabled</option>
                    </select>
                </div>
            </div>
            <div class="card-content-right">
                <img src="@Url.Action("Avatar", "User", new { id = Model.Id, t = DateTime.Now.Ticks })" 
                    alt="User Avatar" />
                <div>
                    <label for="avatarFile">Upload new avatar:</label>
                    <input type="file" class="input" id="avatarFile" name="avatarFile" accept="image/*">
                </div>
            </div>
        </div>
        <div class="card-actions">
            <button class="button success">Save</button>
        </div>
    </div>
</form>