@model IEnumerable<AccesPoint.Models.User>
@{
}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Email</th>
			<th>PhoneNumber</th>
			<th>EmailConfirmed</th>
			<th>ProviderDisplayName</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>@user.PhoneNumber</td>
				<td>@user.EmailConfirmed</td>
				<td>@user.ProviderDisplayName</td>
				<td>
                    <form asp-controller="User" asp-action="EditUser" method="post">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button class="edit">Edit</button>
                    </form>
				</td>
				<td>
					<button class="detail">Details</button>
				</td>
				<td>
					<button class="delete">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>


@* ﻿@model SmallEnergy.Models.AllUsers;
@{
}

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Maria</td>
        <td>Anders</td>
        <td>
            <button class="edit">Edit</button>
        </td>
        <td>
            <button class="detail">Details</button>
        </td>
        <td>
            <button class="delete">Delete</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Francisco</td>
        <td>Chang</td>
        <td>
            <button class="edit">Edit</button>
        </td>
        <td>
            <button class="detail">Details</button>
        </td>
        <td>
            <button class="delete">Delete</button>
        </td>
    </tr>
</table>
<ul class="pagination">
    <li><a asp-action="index" asp-controller="" asp-route-id="1">&laquo;</a></li>

    <li><a asp-action="index" asp-controller="" asp-route-id="2">2</a></li>
    <li><a asp-action="index" asp-controller="" asp-route-id="3">3</a></li>
    <li><a asp-action="index" asp-controller="" asp-route-id="4">4</a></li>

    <li><a asp-action="index" asp-controller="" asp-route-id="999">&raquo;</a></li>
</ul> *@