@model SmallEnergy.Models.UsersViewModel;
@{
	ViewData["Title"] = "All Users";
}


<div class="card">
	<div class="card-header">
		Show all users
	</div>
	<div class="card-content">
		<div class="card-content-table-actions">
			<div class="card-content-table-actions-group">
				<form asp-controller="User" asp-action="Search" method="post">
					<input type="text" class="input" name="input" list="predefinedSearches" placeholder="search for username..." />

					<datalist id="predefinedSearches">
						@foreach (string option in Model.Searches)
						{
							<option value="@option"></option>
						}
					</datalist>

					<button class="button primary">Search</button>
				</form>
			</div>
			<div class="card-content-table-actions-group">
				<form asp-controller="User" asp-action="CreateUser" method="post">
					<button class="button success">Create new user</button>
				</form>
			</div>
		</div>
		@if (Model.Users.Count() > 0)
		{
			<table>
				<tr>
					<th>Id</th>
					<th>User Disabled</th>
					<th>User Name</th>
					<th>User Login</th>
					<th>Last Password Change</th>
					<th>Last Login Date</th>
					<th>Create Date</th>
					<th>Kind</th>
					<th colspan="3">Actions</th>
				</tr>
				@foreach (var user in Model.Users)
				{
					<tr>
						<td>@user.Id</td>
						<td>@user.userDisabled</td>
						<td>@user.userName</td>
						<td>@user.userLogin</td>
						<td>@user.lastPasswordChangeDate</td>
						<td>@user.lastLoginDate</td>
						<td>@user.createDate</td>
						<td>@user.kind</td>

						<td>
							<form asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id">
								<input type="hidden" name="Id" value="@user.Id" />
								<button class="button success">Edit</button>
							</form>
						</td>
						<td>
							<form asp-controller="User" asp-action="Details" asp-route-id="@user.Id">
								<input type="hidden" name="Id" value="@user.Id" />
								<button class="button primary">Details</button>
							</form>
						</td>
						<td>
							<form asp-controller="User" asp-action="DeleteMember" method="post">
								<input type="hidden" name="Id" value="@user.Id" />
								<button class="button danger">Delete</button>
							</form>
						</td>
					</tr>
				}
			</table>
		}
		else
		{
			@foreach (string search in Model.Searches)
			{
				<h1>Couldnt find anything. Most people search for "@search"</h1>
				break;
			}
		}
	</div>
</div>

@if (Model.Users.Count() > 0 && Model.Pagination.maxPages > 0)
{
	<ul class="pagination">
		<li><a asp-action="ShowAllUsers" asp-controller="User" asp-route-id="1">&laquo;</a></li>
		@for (int i = Model.Pagination.CurrentPage; i < Model.Pagination.CurrentPage + 5; i++)
		{
			int pageNum = i;
			if (Model.Pagination.CurrentPage > 1) { pageNum--; }
			if (pageNum > Model.Pagination.maxPages) { break; }
			<li><a asp-action="ShowAllUsers" asp-controller="User" asp-route-id="@pageNum">@pageNum</a></li>
		}
		<li><a asp-action="ShowAllUsers" asp-controller="User" asp-route-id="@Model.Pagination.maxPages">&raquo;</a></li>
	</ul>
}
