@model IEnumerable<AccesPoint.Models.User>
@{
}

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>User Disabled</th>
			<th>User Name</th>
			<th>User Login</th>
			<th>Last Password Change</th>
			<th>Last Login Date</th>
			<th>Create Date</th>
			<th>Kind</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.userDisabled</td>
				<td>@user.userName</td>
				<td>@user.userLogin</td>
				<td>@user.lastPasswordChangeDate</td>
				<td>@user.lastLoginDate</td>
				<td>@user.createDate</td>
				<td>@user.kind</td>

				<td>
                    <form asp-controller="User" asp-action="EditUser" method="post">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button class="edit">Edit</button>
                    </form>
				</td>
				<td>
					<button class="detail">Details</button>
				</td>
				<td>					
                    <form asp-controller="User" asp-action="DeleteMember" method="post">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button class="delete">Delete</button>
                    </form>
				</td>
			</tr>
		}
	</tbody>
</table>