@model dynamic
@{
	ViewData["Title"] = "All Users";
}
<div class="table-box">
<form asp-controller="User" asp-action="GetBoxed" method="post">
	<input type="text" name="input" value="" placeholder="search for username..." />
	<button>Safe Search</button>
</form>
<form asp-controller="User" asp-action="Search" method="post">
	<input type="text" name="input" list="predefinedSearches" placeholder="search for username..." />

	<datalist id="predefinedSearches">
		@foreach (string option in Model.searches)
		{
			<option value="@option"></option>
		}
	</datalist>

	<button>Search</button>
</form>
<form asp-controller="User" asp-action="CreateUser" method="post">
	<button>Create new user</button>
</form>
</div>


@if (Model.users.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>Id <i class="arrow up"></i></th>
				<th>User Disabled</th>
				<th>User Name</th>
				<th>User Login</th>
				<th>Last Password Change</th>
				<th>Last Login Date</th>
				<th>Create Date</th>
				<th>Kind</th>
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.userDisabled</td>
					<td>@user.userName</td>
					<td>@user.userLogin</td>
					<td>@user.lastPasswordChangeDate</td>
					<td>@user.lastLoginDate</td>
					<td>@user.createDate</td>
					<td>@user.kind</td>

				<td>
                    <form asp-controller="User" asp-action="EditUser">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button class="edit">Edit</button>
                    </form>
				</td>
				<td>
					<form asp-controller="User" asp-action="Details" asp-route-id="@user.Id">
						<input type="hidden" name="Id" value="@user.Id" />
						<button class="detail">Details</button>
					</form>
				</td>
				<td>					
                    <form asp-controller="User" asp-action="DeleteMember" method="post">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <button class="delete">Delete</button>
                    </form>
				</td>
			</tr>
		}
	</tbody>
</table>
}