<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Marketing website" />
	<title>@ViewData["Title"] - SmallEnergy</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SmallEnergy.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="container">
				<a class="logo" asp-area="" asp-controller="Home" asp-action="Index">SmallEnergy</a>
				<button class="hamburger" id="hamburger" aria-label="Toggle menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<ul class="navbar-pages" id="nav-menu">
					<li>
						<a class="@(ViewData["Title"]?.ToString() == "Home page" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li>
						<a class="@(ViewData["Title"]?.ToString() == "All Users" ? "active" : "")" asp-area="" asp-controller="User" asp-action="Index">Users</a>
					</li>
					<li>
						<a class="@(ViewData["Title"]?.ToString() == "Analytics" ? "active" : "")" asp-area="" asp-controller="Analytic" asp-action="Index">Analytics</a>
					</li>
					<li>
						<a class="@(ViewData["Title"]?.ToString() == "Privacy Policy" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
					</li>
					@if (User.Identity != null && User.Identity.IsAuthenticated)
					{
						<li>
							<a class="@(ViewData["Title"]?.ToString() == "Login" ? "active" : "")" asp-area="" asp-controller="Auth" asp-action="Index">Log out</a>
						</li>
					}
					else
					{
						<li>
							<a class="@(ViewData["Title"]?.ToString() == "Login" ? "active" : "")" asp-area="" asp-controller="Auth" asp-action="Index">Sign in</a>
						</li>
					}
				</ul>
			</div>
		</nav>

		<script>
				document.addEventListener("DOMContentLoaded", function () {
			  const hamburger = document.getElementById("hamburger");
			  const navMenu = document.getElementById("nav-menu");

			  hamburger.addEventListener("click", () => {
				hamburger.classList.toggle("active");
				navMenu.classList.toggle("show");
			  });
			});
		</script>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - SmallEnergy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
